<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>cypher-cypnode</string>
    <key>ServiceDescription</key>
    <string>cypher cypnode daemon</string>
    <key>Program</key>
    <string>/opt/cypher/cypnode/cypnode</string>
    <key>WorkingDirectory</key>
    <string>/opt/cypher/cypnode</string>
    <key>UserName</key>
    <string>_cypher_cypnode</string>
    <key>GroupName</key>
    <string>cypher_cypnode</string>
    <key>RunAtLoad</key>
    <true/>
    <key>ProcessType</key>
    <string>Backgroup</string>
</dict>
</plist>
