#!/usr/bin/make -f

#export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@ --with-systemd


override_dh_auto_build:
	dotnet publish cypnode --configuration Release --self-contained --runtime $RUNTIME --output publish_deb_$RUNTIME/

override_dh_auto_install:
	mkdir -p debian/tangram-cypnode/usr/share/tangram/cypnode/
	cp -r publish_deb_$RUNTIME/* debian/tangram-cypnode/usr/share/tangram/cypnode/
	rm debian/tangram-cypnode/usr/share/tangram/cypnode/*.pdb

override_dh_strip:
	:

override_dh_shlibdeps:
	:

override_dh_makeshlibs:
	:
