[Unit]
Description=cypnode

[Service]
WorkingDirectory=$HOME/.cypher/dist
ExecStart=dotnet $HOME/.cypher/dist/CYPNode.dll "$@"
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=cypnode
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
