[Unit]
Description=cypnode

[Service]
WorkingDirectory={USERHOME}/.cypher/dist
ExecStart=dotnet {USERHOME}/.cypher/dist/CYPNode.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=cypnode
User={USER}
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
