html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    padding-top: 1.1rem;
}

.serf-alive {
    color: green;
}

.serf-failed {
    color: lightgrey;
}

.client-connected {
    color: green;
}

.client-connecting {
    color: darkorange;
}

.client-disconnected {
    color: red;
}