@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using rxcypnode.Pages

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
<body>

<component type="typeof(Serf)" render-mode="Server" />

<script src="~/_framework/blazor.server.js"></script>

</body>
</html>